* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.dogs {
  text-align: center;
  padding-top: 20vh;
  width: 500px;
  margin: 0 auto;
}

.ti{
  font-size: 50px;
  font-weight: bold;
}

.imagen {
  width: 100%;
}

.button {
  margin-top: 20px;
}

